.form-group {
  margin-bottom: 15px;
}

.form-group label {
  font-weight: bold;
}

.form-control-static {
  padding-top: 5px;
}

.form-section {
  border: 1px solid #ddd;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
}

app-select-dropdown {
  display: block;
  margin-top: -23px;
  width: 100%;
}