<div class="row">
  <div class="col-xl-12">
    <div class="search-bar">
      <input type="text" [(ngModel)]="query" name="filter-contacts" class="form-control"
        placeholder="{{'Filter Employee' | translate}}">
    </div>
  </div>
</div>

<div class="row js-list-filter" id="js-contacts">

  <div class="col-xl-4" *ngFor="let staff of paginatedStaffList | filter:query">
    <div class="staff-card">
      <div class="staff-image" [style.backgroundImage]="'url(' + fileUrl + staff.staffImage + ')'"></div>
      <div class="staff-details">
        <a [routerLink]="['/staff-details', staff.staffId]" class="staff-name">{{staff.staffName}}</a>
        <p class="staff-designation">{{staff.staffDesignationName.name}}</p>
        <p class="staff-department">{{staff.staffDepartmentName.name}}</p>

        <p><i class="fa fa-user"></i> {{staff.staffFather}}</p>
        <p><i class="fa fa-calendar"></i> {{staff.staffDOB | date:'dd/MM/yyyy'}}</p>
        <p><i class="fa fa-envelope"></i> {{staff.staffEmail}}</p>
        <p><i class="fa fa-phone"></i> {{staff.staffPhone}}</p>
        <p><i class="fa fa-map-marker-alt"></i> {{staff.staffAddress}}</p>
      </div>
    </div>
  </div>
</div>

<!-- Pagination -->
<div class="pagination">
  <button *ngIf="currentPage > 1" (click)="changePage(currentPage - 1)" [disabled]="currentPage === 1">
    <i class="fas fa-chevron-left"></i>
  </button>
  <span>Page {{currentPage}} of {{totalPages}}</span>
  <button *ngIf="currentPage < totalPages" (click)="changePage(currentPage + 1)"
    [disabled]="currentPage === totalPages">
    <i class="fas fa-chevron-right"></i>
  </button>
</div>
