 
          <form [formGroup]="visitForm" (ngSubmit)="onSubmit()">
            <div class="row">

            <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                 <app-category-dropdown [catId]="8" formControlName="typeId"    [label]="'Category'">
                  </app-category-dropdown>
            </div>

              
      
        <div class="col-md-2 col-lg-2 col-sm-6 col-xs-12">
           
                <app-text-input formControlName="pincode" [label]="'Pincode'" [inputValue]="36522" [OnlyNumber]="true"></app-text-input>
        </div>
      
       
      
              <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                <app-text-input formControlName="name" [label]="'Name'"></app-text-input>
              </div>
<div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                <app-date-input formControlName="date"  type="'date'" [label]="'Date'"></app-date-input>
              </div>  
 <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                 <app-text-input formControlName="address" [label]="'Address'"></app-text-input>
                
              </div>

              <div class="col-md-2 col-lg-2 col-sm-6 col-xs-12">
                <app-text-input formControlName="phoneNo" [label]="'Phone No'"></app-text-input>
              </div>

             

              <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                <app-text-area formControlName="remarks" [label]="'Remarks'" />
              </div>
               
                                                    
               
 
              

                <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12"> 
                    
              
      
  
                <app-date-input formControlName="followUpDate" [label]="'FollowUp Date'"></app-date-input>
              </div> 

               
            </div>

            <app-footer-buttons
              [buttonText]="buttonText"
              [isValid]="!visitForm.valid"
              (resetForm)="cancel()">
            </app-footer-buttons>

          
          </form>
    {{visitForm.valid | json}}




 