<div class="row">
  <div class="col-xl-12" style="margin: 0px; padding: 0px;">
    <div id="panel-1" class="panel" >
      <div class="panel-hdr bg-info-600 bg-primary-gradient">
        <h2>
          {{ "Customer" | translate }} <span class="fw-300"><i></i></span>
        </h2>
      </div>

      <div class="panel-container show"  >
        <div class="panel-content">
          <form [formGroup]="visitForm" (ngSubmit)="onSubmit()">
            <div class="row">

            <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                 <app-category-dropdown [catId]="8" formControlName="typeId"    [label]="'Category'">
                  </app-category-dropdown>
            </div>

              
      
        <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                <app-text-input formControlName="pincode" [label]="'Pincode'" [OnlyNumber]="true"></app-text-input>
        </div>
      
       
      <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                <app-date-picker formControlName="date" [label]="'Date'"></app-date-picker>
              </div>  
              <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                <app-text-input formControlName="name" [label]="'Name'"></app-text-input>
              </div>



              <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                <app-text-input formControlName="phoneNo" [label]="'Phone No'"></app-text-input>
              </div>

              <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                 <app-text-input formControlName="address" [label]="'Address'"></app-text-input>
                
              </div>

              <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                <app-text-area formControlName="remarks" [label]="'Remarks'" />
              </div>

                <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                <app-date-picker formControlName="followUpDate" [label]="'FollowUp Date'"></app-date-picker>
              </div> 

               
            </div>

            <app-footer-buttons
              [buttonText]="buttonText"
              [isValid]="!visitForm.valid"
              (resetForm)="cancel()">
            </app-footer-buttons>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
