
<div class="row " >


  <div class="col-12">

  </div>
</div>
<div class="row " >


  <div class="col-xl-3">
    <div id="panel-1" class="panel">
      <app-entry-panel-header [title]="'Create Menu'"  > </app-entry-panel-header>

      <div class="panel-container  show">
        <div class="panel-content">

          <form [formGroup]="roleForm" (ngSubmit)="onSubmit()">


            <app-text-input formControlName="name" [label]="'Role Name'"></app-text-input>
            <app-select-dropdown [data]="defaultPage" formControlName="indexPage" [label]="'Default Page'"></app-select-dropdown>
            <!-- <app-text-input formControlName="indexPage" [label]="'Default Page'"></app-text-input> -->

            <div class="form-group mt-4">
          <a href="javascript:void(0);" class="btn btn-primary waves-effect waves-themed" (click)="open(mymodal)">{{"Add Permission" | translate}}</a>
            </div>

            <app-footer-buttons [buttonText] ="buttonText" [isValid]="!roleForm.valid" (resetForm)="cancel()"></app-footer-buttons >


            </form>
        </div>
      </div>
    </div>

  </div>
  <div class="col-xl-9">
    <div id="panel-1" class="panel">
      <app-entry-panel-header [title]="'User Role List'"> </app-entry-panel-header>

      <div class="panel-container show">
        <div class="panel-content">

         <commongrid *ngIf="roles.length > 0" [totalitems]="totalRecords"  [records]="roles " [gridfilter]="gridFilter"
            [SearchText]="txtSearch" [pagesize]="10"   (change)="pageChanged($event)" [ShowSorting]="true"
            [PagingType]="'nextprevnumberadvanced'" [ShowPagesize]="true" [ShowFilter]="false" [ShowSNo]="true"
            (ActionRow)="actionRow($event)"
            >
          </commongrid>
          <app-no-data-found *ngIf="roles?.length == 0" >

          </app-no-data-found>


        </div>
      </div>
    </div>

  </div>
</div>



<ng-template #mymodal let-modal>




  <div  class="modal-header panel-hdr bg-primary-600 bg-info-gradient">

    <h4 class="modal-title" id="modal-basic-title">{{"Assign Roles" | translate}}</h4>


    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">

      <span aria-hidden="true">×</span>

    </button>

  </div>

  <div class="modal-body">

    <app-tree-view [menuItems]="menuItems" (selectChange)="onSelectedChange($event)"> </app-tree-view>

  </div>

  <div class="modal-footer">

    <button type="button" class="btn btn-secondary waves-effect waves-themed"  (click)="modal.close('Save click')">{{"Ok" | translate}}</button>

  </div>

</ng-template>







