<div class="row ">
  <div class="col-md-9 col-lg-12 col-sm-12 col-xs-12">
    <div id="panel-1" class="panel">
     
      <div class="panel-container show">
        <div class="panel-content">
            <form [formGroup]="pincodeForm" (ngSubmit)="onSubmit()">
                <div class="row">
            <div class="col-md-3">
              <app-text-input formControlName="pincode" [OnlyNumber]="true"
                    [label]="'Pincode'" [placeHolder]="'Enter 6-digit pincode'"></app-text-input>
              
            </div>
            
            <div class="col-md-3 d-flex align-items-end mt-3">
               <app-footer-buttons [buttonText]="'Search'" [isValid]="!pincodeForm.valid" (resetForm)="cancel()">
              </app-footer-buttons>
            </div>
          </div>

    
  </form>

          <!-- Date Filter Section -->
        
        </div>
      </div>
    </div>
  </div>
</div>

<div class="pincode-container">


  <div id="mapContainer" style="width: 100%; height: 700px; margin-top: 10px;"></div>
</div>



<ng-template #addVisit>
  
  <div class="modal-header modal-xl panel-hdr bg-primary-600 bg-info-gradient">
    <h4 class="modal-title pull-left">{{ "Add New" + label | translate }}</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-visit-form [visit]="visit"> </app-visit-form>

  </div>
  <div class="modal-footer justify-content-between">
    <button type="submit" (click)="closeModal()" class="btn btn-danger ml-auto waves-themed">
      {{"Close" | translate}}
    </button>
  </div>
</ng-template>
