<div class="page-wrapper auth">
  <div class="page-inner bg-brand-gradient">
    <div class="page-content-wrapper bg-transparent m-0">
      <div class="height-10 w-100 shadow-lg px-4 bg-brand-gradient">
        <div class="d-flex align-items-center container p-0">
          <div
            class="page-logo width-mobile-auto m-0 align-items-center justify-content-center p-0 bg-transparent bg-img-none shadow-0 height-9 border-0">
            <a href="javascript:void(0)" class="page-logo-link press-scale-down d-flex align-items-center">
              <span class="page-logo-text mr-1">Admin password reset panel</span>
            </a>
          </div>
          <span class="text-white opacity-50 ml-auto mr-2 hidden-sm-down">
            {{'Already a member?' | translate}}
          </span>
          <a routerLink="/user/login" class="btn-link text-white ml-auto ml-sm-0">
            {{"Secure Login" | translate}}
          </a>
        </div>
      </div>
      <div class="flex-1"
        style="background: url(img/svg/pattern-1.svg) no-repeat center bottom fixed; background-size: cover;">
        <div class="container py-4 py-lg-5 my-lg-5 px-4 px-sm-0">
          <div class="row">
            <div class="col-xl-12">
              <h2 class="fs-xxl fw-500 mt-4 text-white text-center">
                {{"Now you can create a new password easily !!"|translate}}
                <small class="h3 fw-300 mt-3 mb-5 text-white opacity-60 hidden-sm-down">
                  {{"Not a problem, Just use the form below, enter the OTP, and change the password accordingly!" |
                  translate}}
                </small>
              </h2>
            </div>
            <div class="col-xl-12 ml-auto mr-auto">
              <div class="card p-4 rounded-plus bg-faded">
                <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
                  <!-- profile summary -->
                  <div class="col-12">
                    <div class="row">
                      <div class="col-md-4 mb-3">
                        <app-text-input [type]="'text'" formControlName="otpCode" [label]="'OTP'"></app-text-input>
                      </div>
                      <div class="col-md-4 mb-3">
                        <app-password-input [type]="PasswordVisible ? 'text' : 'password'" formControlName="password"
                          [label]="'New Password'"></app-password-input>
                        <div class="error-text small" style="color: red;"
                          *ngIf="changePasswordForm.get('password').hasError('passwordStrength')">
                          {{changePasswordForm.get('password').errors['passwordStrength']}}
                        </div>

                      </div>
                      <div class="col-md-4 mb-3">
                        <app-password-input [type]="ConfirmPasswordVisible ? 'text' : 'password'"
                          formControlName="confirmNewPassword" [label]="'Confirm Password'"></app-password-input>

                      </div>
                    </div>

                    <div class="row">
                      <app-footer-buttons [buttonText]="buttonText" [isValid]="!changePasswordForm.valid"
                        (resetForm)="cancel()">
                      </app-footer-buttons>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="d-block text-center text-white">
          2025-2026 © Admin by&nbsp;<a href="https://www.dzabsoftech.ae/" class="text-white opacity-40 fw-500"
            title="dzabsoftech.ae" target="_blank">Dzab Softech FZCO</a>
        </div>
      </div>
    </div>
  </div>
</div>