<div class="d-flex align-items-center flex-1 text-muted">
  <span class="hidden-md-down fw-700">2025-2026 © {{"Admin by" | translate}} &nbsp;<a href='https://www.dzabsoftech.ae/'
      class='text-primary fw-500' title='64facetscrm.com' target='_blank'>{{"Dzab Softech FZCO" | translate}}</a></span>
</div>
<div>
  <ul class="list-table m-0">
    <li><a href="https://taleem.biz" class="text-secondary fw-700" target="_blank">{{"About" |
        translate}}</a></li>
    <li class="pl-3"><a href="https://www.dzabsoftech.ae/privacy" class="text-secondary fw-700"
        target="_blank">{{"Privacy Policy" | translate}}</a>
    </li>
    <li class="pl-3"><a href="https://taleem.biz/document/Terms&ConditionSmartTaleem.pdf" class="text-secondary fw-700"
        target="_blank">{{"Terms & Conditions" | translate}}</a>
    </li>
    <li class="pl-3"><a href="https://taleem.biz/document/Data-Protection-General.pdf" target="_blank"
        class="text-secondary fw-700">{{"Client Data Protection" | translate}}</a></li>
    <li class="pl-3"><a href="https://taleem.biz/document/DataProtection.pdf" target="_blank"
        class="text-secondary fw-700">{{"Server Data Protection" | translate}}</a></li>


    <li class="pl-3"><a href="https://taleem.biz/document/smartTaleemUserMannual.pdf" target="_blank"
        class="text-secondary fw-700">{{"User Manual" | translate}}</a></li>

    <!-- <li class="pl-3"><a href="https://taleem.biz/document/smartTaleemUserMannual.pdf" target="_blank"
                                class="text-secondary fw-900">{{"User Mannual" | translate}} <i
                                        class="fa fa-question-circle" aria-hidden="true"></i></a>
                </li> -->

  </ul>
</div>