/* product.component.css */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1000;
}

.modal-content-custom {
  position: fixed;
  top: 50%;
  left: 50%;
  /* width: 80%; */
  max-width: auto;
  transform: translate(-50%, -50%);
  background: #fff;
  z-index: 1001;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  /* padding: 20px; */
  padding-top: 3%;
  overflow-y: auto;
  max-height: 95vh;
}
.modal-close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  cursor: pointer;
  color: #999;
}
.modal-close-btn:hover {
  color: #000;
}

////////////////////////////////printPurches Invoice ////////////////////////////////////

.invoice-box {
  max-width: 800px;
  margin: auto;
  padding: 30px;
  border: 1px solid #eee;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  font-size: 14px;
  line-height: 20px;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.header h1 {
  margin: 0;
  font-size: 24px;
}

.header p {
  margin: 2px;
  font-size: 14px;
}

.invoice-box table {
  width: 100%;
  border-collapse: collapse;
}

.invoice-box table td {
  padding: 5px;
  vertical-align: top;
}

.invoice-box table tr.heading td {
  background: #f0f0f0;
  border-bottom: 1px solid #ddd;
  font-weight: bold;
}

.invoice-box table tr.item td {
  border-bottom: 1px solid #eee;
}

.total {
  font-weight: bold;
  text-align: right;
}

.center {
  text-align: center;
}
