<div class="row ">
  <div class="col-md-9 col-lg-12 col-sm-12 col-xs-12">
    <div id="panel-1" class="panel">

      <app-entry-panel-header [title]="'Add New Invoice Setting'"> </app-entry-panel-header>
      <div class="panel-container  show">
        <div class="panel-content">
          <!-- Date Filter Section -->
          <div class="row g-3 px-2">
            <div class="col-md-3">

             <app-text-input [(ngModel)]="pincode" 
                    [label]="'Pincode'" [placeHolder]="'Enter 6-digit pincode'"></app-text-input>
            </div>
            <div class="col-md-3">
            <app-category-dropdown [catId]="8" [(ngModel)]="typeId"   [label]="'Product Category'">
                  </app-category-dropdown>
              
            </div>
            
            <div class="col-md-2 d-flex align-items-end mt-3">
              <button class="btn btn-primary" style="margin-right: 10px;" (click)="filterByDate()">Search</button>
              <button class="btn btn-secondary" (click)="clearFilter()">Clear</button>
            </div>


          </div>
        </div>
      </div>
    </div>


  </div>
</div>


<br>

<div class="col-xl-12 mx-0 px-0">
  <div id="panel-1" class="panel">
    <div class="panel-hdr bg-primary-600 bg-info-gradient">
      <h2>
        {{"Stock Report"| translate}}<span class="fw-300"><i></i></span>
      </h2>
    </div>
    <div class="panel-container show">
      <div class="panel-content" style="overflow-x: auto;">

        <commongrid *ngIf="dataDirectory.length > 0" [totalitems]="totalRecords" [records]="dataDirectory"
          [gridfilter]="gridFilter" [extraButtons]="buttons"  (ExtraButtonClick)="buttonClick($event)" [SearchText]="txtSearch" [pagesize]="50" (change)="pageChanged($event)"
          [ShowSorting]="true" [PagingType]="'nextprevnumberadvanced'" [ShowSum]="true" [ShowPagesize]="true"
          [ShowFilter]="false" [ShowSNo]="true" (ActionRow)="actionRow($event)">

        </commongrid>

        <app-no-data-found *ngIf="dataDirectory?.length == 0">

        </app-no-data-found>

      </div>
    </div>

    <!-- <div class="col-md-4 d-flex align-items-center">
      <button type="button" class="btn btn-success" (click)="goToReport()">Show Report</button>
    </div> -->

  </div>

</div>

 <button type="button" class="btn btn-default waves-effect waves-themed" data-toggle="modal" data-target="#default-example-modal-lg">Default Modal Large</button>
 <!-- Modal Large -->
                                            <!-- <div class="modal fade" id="default-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true"  #addVisit>
                                                <div class="modal-dialog modal-lg" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title">Modal title</h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true"><i class="fal fa-times"></i></span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            ...
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                            <button type="button" class="btn btn-primary">Save changes</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div> -->
                                            <!-- Modal Small -->

<ng-template #addVisit>
  
  <div class="modal-header modal-xl panel-hdr bg-primary-600 bg-info-gradient">
    <h4 class="modal-title pull-left">{{ "Add New" + label | translate }}</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-visit-form [visit]="visit"> </app-visit-form>

  </div>
  <div class="modal-footer justify-content-between">
    <button type="submit" (click)="closeModal()" class="btn btn-danger ml-auto waves-themed">
      {{"Close" | translate}}
    </button>
  </div>
</ng-template>