<div class="row ">
  <div class="col-lg-12">
    <div id="panel-1" class="panel">
      <app-entry-panel-header [title]="'Change Password'"> </app-entry-panel-header>


      <div class="panel-container  show">
        <div class="panel-content">
          <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">

            <div class="col-12">
              <div class="row">
                <div class="col-md-4 mb-3">
                  <app-password-input [type]="isOldPasswordVisible ? 'text' : 'password'" formControlName="oldPassword"
                    [label]="'Old Password'">
                  </app-password-input>

                </div>
                <div class="col-md-4 mb-3">
                  <app-password-input [type]="isNewPasswordVisible ? 'text' : 'password'" formControlName="newPassword"
                    [label]="'New Password'">
                  </app-password-input>
                  <div class="error-text small" style="color: red;"
                    *ngIf="changePasswordForm.get('newPassword').hasError('passwordStrength')">
                    {{changePasswordForm.get('newPassword').errors['passwordStrength']}}
                  </div>

                </div>

                <div class="col-md-4 mb-3">
                  <app-password-input [type]="isConfirmNewPasswordVisible ? 'text' : 'password'"
                    formControlName="confirmNewPassword" [label]="'Confirm Password'">
                  </app-password-input>

                </div>
              </div>

              <div class="row">
                <app-footer-buttons [buttonText]="buttonText" [isValid]="!changePasswordForm.valid"
                  (resetForm)="cancel()">
                </app-footer-buttons>
              </div>

            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>