<h2>SmartShiksha Autofill Form</h2>

<form [formGroup]="form">

  <label>Student Name</label>
  <input formControlName="studentName" class="form-control">

  <label>Pay Mode</label>
  <input formControlName="payMode" class="form-control">

  <label>Total Amount</label>
  <input formControlName="totalAmount" class="form-control">

  <label>Receipt No</label>
  <input formControlName="receiptNo" class="form-control">

  <label>Remark</label>
  <textarea formControlName="remark" class="form-control"></textarea>

</form>
