app-text-input.ng-invalid.ng-dirty {
  border-color: #fd3995;
  padding-right: calc(1.47em + 1rem);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fd3995' viewBox='-2 -2 7 7'%3e%3cpath stroke='%23fd3995' d='M0 0l3 3m0-3L0 3'/%3e%3ccircle r='.5'/%3e%3ccircle cx='3' r='.5'/%3e%3ccircle cy='3' r='.5'/%3e%3ccircle cx='3' cy='3' r='.5'/%3e%3c/svg%3E");
  background-repeat: no-repeat;
  background-position: center right calc(0.3675em + 0.25rem);
  background-size: calc(0.735em + 0.5rem) calc(0.735em + 0.5rem);
}
.validation-message {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #fd3995;
}

app-text-input.ng-valid.ng-touched {
  border-color: #1dc9b7;
  padding-right: calc(1.47em + 1rem);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath fill='%231dc9b7' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right calc(.3675em + .25rem) center;
  background-size: calc(.735em + .5rem) calc(.735em + .5rem);
}

.loader-spin {
  position: absolute;
  width: auto;
  top: 50px;
  right: 20px;
  margin-top: 0;
}

 