<!-- {{saleForm.value| json}} -->
<div class="row">
  <div class="col-md-9 col-lg-12 col-sm-12 col-xs-12">
    <div id="panel-1" class="panel">
      <app-entry-panel-header [title]="'Add Daily Work'"> </app-entry-panel-header>
      <div class="panel-container  show">
        <div class="panel-content">
<form [formGroup]="saleForm" (ngSubmit)="onsubmitForm()">


  <div class="row align-items-end">

    <!-- User -->
    <div class="col-md-3">
      <app-user-dropdown
        label="User"
        formControlName="userId"
        [selectedValue]="selectedUser"
        [isDisabled]="userDisabled">
      </app-user-dropdown>
    </div>

<!-- Date -->
   <div class="col-md-3">
    <app-date-picker formControlName="purchaseDate" [label]="'Date'"></app-date-picker>
   </div>


   <!-- Product -->

 <div class="col-md-3">
       <app-select-dropdown
          label="Product"
          [data]="productData"
          optionValue="id"
          optionLabel="name"
          formControlName="productId"
          >
        </app-select-dropdown>
    </div>


    <!-- Customer -->
    <div class="col-md-3">
      <app-select-dropdown
        label="Customer"
        [data]="customerdata"
        optionValue="id"
        optionLabel="name"
        formControlName="customerId">
      </app-select-dropdown>
    </div>



    <!-- Description -->
    <div class="col-md-3">
      <app-text-input
        label="Description"
        formControlName="billDescription">
      </app-text-input>
    </div>

  </div>

  <!-- Submit -->
  <div class="mt-4">

            <app-footer-buttons [buttonText]="buttonText" [isValid]="!saleForm.valid"
              (resetForm)="cancel()"></app-footer-buttons>
  </div>

</form>

        </div>
      </div>
    </div>
  </div>
</div>



<!-- {{dailyWorkList | json}} -->

<div class="row">

    <div class="col-xl-12 mx-0 px-0">
    <div id="panel-1" class="panel">
      <div class="panel-hdr bg-primary-600 bg-info-gradient">
        <h2>
          {{"Daily Work Report List"| translate}}<span class="fw-300"><i></i></span>
        </h2>
      </div>
      <div class="panel-container show">
        <div class="panel-content" style="overflow-x: auto;">

          <commongrid *ngIf="dailyWorkList.length > 0" [totalitems]="totalRecords" [records]="dailyWorkList"
            [gridfilter]="gridFilter" [SearchText]="txtSearch" [pagesize]="10" (change)="pageChanged($event)"
            [ShowSorting]="true" [PagingType]="'nextprevnumberadvanced'" [ShowPagesize]="true" [ShowFilter]="false"
            [ShowSNo]="true" (ActionRow)="actionRow($event)">

          </commongrid>

          <app-no-data-found *ngIf="dailyWorkList?.length == 0">

          </app-no-data-found>

        </div>
      </div>
    </div>

  </div>
</div>
