<div class="container-fluid">
  <div class="container">
    <h3>Terms and Conditions for Smart Taleem Software Usage</h3>
    <p>These Terms and Conditions ("Agreement") govern the licensing, installation, and use of Smart Taleem
      software ("Software") provided by Dzab Softech FZCO, UAE, with its head office located in India under the
      name Dzab Soft Pvt Limited. By purchasing and/or using the Software, you agree to be bound by the terms
      of this Agreement. If you do not agree with these terms, do not proceed with the installation or use of the
      Software.</p>
    <h3>
      1. License Grant:
    </h3>
    <p>Dzab Softech FZCO grants you a nonexclusive, nontransferable license to use the Software for managing
      school operations within your educational institution in the UAE. License just for the single branch of
      school and cannot be used at another branch until a written permission is taken from Dzab Softech FZCO
      by paying the agreed fees for multiple user license.</p>

    <h3>
      2. Permitted Use:
    </h3>
    <p>The Software is intended solely for use within educational institutions in the UAE for administrative and
      academic purposes.</p>
    <h3>3. Restrictions:</h3>
    <p>You shall not:
      × Modify, adapt, translate, reverse engineer, decompile, disassemble, or create derivative works
      based on the Software.
      × Remove, alter, or obscure any copyright, trademark, or other proprietary notices.
      × Share, sell, sublicense, distribute, or lease the Software to any third party.</p>
    <h3>4. Ownership:</h3>
    <p>Dzab Softech FZCO retains all rights, title, and interest in and to the Software, including all intellectual
      property rights.</p>
    <h3>5. Data Security:</h3>
    <p>You are responsible for maintaining the security and confidentiality of all data entered into the Software.</p>
    <p>Dzab Softech FZCO shall implement industry standard security measures to protect your data from
      unauthorized access or disclosure.</p>
    <h3>6. Support and Maintenance:</h3>
    <p>Dzab Softech FZCO shall provide technical support and maintenance services for the Software during the
      term of this Agreement. Support may include
      ✓ Bug fixes.
      ✓ Updates, and upgrades,
      at the discretion of Dzab Softech FZCO.</p>
    <h3>7. Fees and Payment:</h3>
    <p>You agree to pay the applicable fees for the Software license, renewal and any additional services as
      specified by Dzab Softech FZCO. Fees are nonrefundable once the Software has been installed and
      activated.</p>
    <h3>8. Term and Termination:</h3>
    <p>This Agreement shall commence upon your acceptance and shall remain in effect until terminated.</p>
    <p>Dzab Softech FZCO may terminate this Agreement immediately upon breach of any provision herein.</p>
    <p>Upon termination, you shall cease all use of the Software and delete all copies from your systems.</p>
    <h3>9. Disclaimer of Warranty:</h3>
    <p>The Software is provided "as is" without warranty of any kind, express or implied. Dzab Softech FZCO
      disclaims all warranties, including but not limited to, fitness for a particular purpose and on
      infringement.</p>
    <h3>10. Limitation of Liability:</h3>
    <p>In no event shall Dzab Softech FZCO be liable for any indirect, incidental, special, or consequential
      damages arising out of or in connection with the use or performance of the Software.</p>
    <h3>11. Governing Law and Jurisdiction:</h3>
    <p>This Agreement shall be governed by and construed in accordance with the laws of the United Arab
      Emirates.</p>
    <p>Any dispute arising out of or in connection with this Agreement shall be subject to the exclusive
      jurisdiction of the courts in Dubai, UAE.</p>
    <h3>12. Entire Agreement:</h3>
    <p>This Agreement constitutes the entire understanding between the parties concerning the subject
      matter herein and supersedes all prior agreements and understandings, whether written or oral.</p>
    <p>By accepting these terms, you acknowledge that you have read and understood this Agreement and
      agree to be bound by its terms and conditions. If you are entering into this Agreement on behalf of an
      educational institution, you represent and warrant that you have the authority to bind such institution
      to these terms.</p>

  </div>
</div>