/* .no-bullets {
  list-style-type: none;

  padding: 0;

  margin: 0;

} */

table {
  width: 100%;
  border-collapse: collapse;
}

table th,
table td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}