.validation-message {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #fd3995;
  }
  app-date-rangepicker.ng-untouched {
    border-color: #fd3995;
    padding-right: calc(1.47em + 1rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fd3995' viewBox='-2 -2 7 7'%3e%3cpath stroke='%23fd3995' d='M0 0l3 3m0-3L0 3'/%3e%3ccircle r='.5'/%3e%3ccircle cx='3' r='.5'/%3e%3ccircle cy='3' r='.5'/%3e%3ccircle cx='3' cy='3' r='.5'/%3e%3c/svg%3E");
    background-repeat: no-repeat;
    background-position: center right calc(0.3675em + 0.25rem);
    background-size: calc(0.735em + 0.5rem) calc(0.735em + 0.5rem);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 1px #fd3995;
  }
  