<div class="form-group mt-3">
    <label class="form-label" for="{{label}}">{{label | translate}} <span class="required-asterisk" *appMarkAsterisk='validator'> * </span>  </label>
  
  
    <ng-select [ngClass]="(controlDir?.control?.touched)
    ? !controlDir.control.valid ? 'is-invalid' : 'is-valid' : null"
     
    [items]="data"
    bindLabel="name"
    (input)="onChange($any($event.target).value)"
    (blur)="onTouched()" #input
   
    (ngModelChange)="onValueChange($event)"
    bindValue="id"
    [(ngModel)]="selectedValue"
    placeholder="{{'Select' | translate}} {{label | translate}}"
    [multiple]="multiple"
    [disabled]="isDisabled"
    #select
    >
    </ng-select>
  
  
    <span *ngIf="(!controlDir?.control?.valid && controlDir?.control?.touched)"
      class='help-block validation-message'>{{label | translate }} {{'is required' |translate}}</span>
  
  
  
  
  </div>