/* Put this code in your CSS file */

/* The div container */
.qrcodeImage {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.vertical {
  border-left: 1px solid black;
  height: 200px;
}

/* Add custom styles here */
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.feedback-form {
  max-width: 800px;
  margin: 100px auto;
  background-color: rgba(255, 255, 255, 0.8);
  /* Transparent white background */
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  font-weight: bold;
}

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  display: inline-block;
  position: relative;
}

.rating>label {
  display: inline-block;
  padding: 5px;
  font-size: 25px;
  cursor: pointer;
}

.rating>label:hover,
.rating>input:checked~label {
  color: orange;
}

.rating>input {
  display: none;
}

.rating>label:before {
  content: "\2605";
}