<div class="container">
  <div class="col-md-10 mx-auto feedback-form my-1">
    <h2 class="text-center mb-4">{{"QR Code and Links Form" | translate}}</h2>
    <form [formGroup]="linkForm">
      <div class="form-group">
        <div class="row">
          <div class="col-md-6" style="border-right: 1px solid black !important;">
            <div class="qrcodeImage">
              <qrcode [qrdata]="inquiryForm" [allowEmptyString]="true"
                [ariaLabel]="'QR Code image with the following content...'" [cssClass]="'center'"
                [colorDark]="'#000000ff'" [colorLight]="'#ffffffff'" [elementType]="'canvas'"
                [errorCorrectionLevel]="'M'" [imageSrc]="''" [imageHeight]="30" [imageWidth]="55" [margin]="4"
                [scale]="1" [title]="'A custom title attribute'" [width]="150"></qrcode>
            </div>
            <div>
              <label>{{"Online Inquiry Form Link" | translate}}</label>
              <label><a [href]="inquiryForm" target="_blank">{{inquiryForm}}</a></label>
            </div>
            <div class="mt-2">
              <button type="button" class="btn btn-primary" (click)="copyLink(inquiryForm)">Copy Link</button>
            </div>
          </div>

          <div class="col-md-6">
            <div class="qrcodeImage">
              <qrcode [qrdata]="feedbackForm" [allowEmptyString]="true"
                [ariaLabel]="'QR Code image with the following content...'" [cssClass]="'center'"
                [colorDark]="'#000000ff'" [colorLight]="'#ffffffff'" [elementType]="'canvas'"
                [errorCorrectionLevel]="'M'" [imageSrc]="''" [imageHeight]="30" [imageWidth]="55" [margin]="4"
                [scale]="1" [title]="'A custom title attribute'" [width]="150"></qrcode>
            </div>
            <div>
              <label>{{"Online Feedback Form Link" | translate}}</label>
              <label><a [href]="feedbackForm" target="_blank">{{feedbackForm}}</a></label>
            </div>
            <div class="mt-2">
              <button type="button" class="btn btn-primary" (click)="copyLink(feedbackForm)">Copy Link</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>