.filter_list {
  min-width: 130px;
  margin-top: 100px;
  position: absolute;
  z-index: 100;
  background-color: white;
  border: 1px solid #e0e0e0;
  border-radius: 3px;
}

.filter_list ul {
  top: 100%;
  left: 0;
  z-index: 2000;

  float: left;
  min-width: 10rem;
  padding: 0.3125rem 0;
  margin: 0.125rem 0 0;
  font-size: 0.8125rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 0px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.filter_list li {
  display: block;
  width: 100%;
  padding: 0.35rem 1rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.filter_list li:hover,
.filter_list li.selected {
  color: #6e4e9e;
  text-decoration: none;
  background-color: #f8f9fa;
}

.table tr th a {
  color: inherit;
  user-select: none;
  white-space: nowrap;
}
.table tr th a.sort {
  cursor: pointer;
  padding-right: 15px;
  position: relative;
  display: block;
}
.table tr th a.sort span {
  background: url(/assets/img/sort.png) right no-repeat;
  user-select: none;
  background-size: 14px;
  position: absolute;
  right: -5px;
  top: 50%;
  width: 20px;
  height: 15px;
  margin-top: -7px;
}
.table tr th a.sort span.asc {
  background: url(/assets/img/sort_asc.svg) right no-repeat;
  user-select: none;
  background-size: 14px;
}
.table tr th a.sort span.desc {
  background: url(/assets/img/sort_desc.svg) right no-repeat;
  user-select: none;
  background-size: 14px;
}
.profile-list-pic{
  width: 50px;
  height: 50px;
}
