<div class="col-12 mb-4">
  <div id="panel-1" class="panel">
    <app-entry-panel-header [title]="'Department Master'"> </app-entry-panel-header>
    <div class="panel-container show">
      <div class="panel-content">
        <form [formGroup]="departmentMasterForm" (ngSubmit)="onSubmit(departmentMasterForm)">
          <div class="form-row">
            <div class="col-4">
              <app-text-input [label]="'Department Id'" [type]="'text'" [placeHolder]="'Enter Id'"
                formControlName="companyId">
              </app-text-input>
            </div>

            <div class="col-4">
              <app-text-input [label]="'Department Name'" [type]="'text'" [placeHolder]="'Enter Department name'"
                formControlName="departmentName">
              </app-text-input>
            </div>
          </div>

          <div class="row">
            <div class="col-3">
              <app-footer-buttons [buttonText]="buttonText" (resetForm)="cancel()"
                [isValid]="!departmentMasterForm.valid">
              </app-footer-buttons>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="col-xl-12">
  <div id="panel-1" class="panel">
    <div class="panel-hdr bg-primary-600 bg-info-gradient">
      <h2>
        {{"Department Name List"| translate}}<span class="fw-300"><i></i></span>
      </h2>
    </div>
    <div class="panel-container show">
      <div class="panel-content">
        <commongrid *ngIf="DepartmentMasterList.length > 0" [totalitems]="totalRecords" [records]="CompanyMasterList"
          [gridfilter]="gridFilter" [SearchText]="txtSearch" [pagesize]="10" (change)="pageChanged($event)"
          [ShowSorting]="true" [PagingType]="'nextprevnumberadvanced'" [ShowPagesize]="true" [ShowFilter]="false"
          [ShowSNo]="true" (ActionRow)="actionRow($event)">
        </commongrid>
        <app-no-data-found *ngIf="DepartmentMasterList?.length == 0">
        </app-no-data-found>
      </div>
    </div>
  </div>

</div>